AUTHOR=
AUTHOR_EMAIL=

APP_PROFILE=

APP_VERSION=
APP_DESCRIPTION=

API_NAME=
API_PORT=
API_PASS=

PUBLIC_HOSTNAME=

ROOT_USERNAME=root
ROOT_PASSWORD=

#MONGODB
MONGODB_HOST=mongodb
MONGODB_PORT=27017
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_ROOT_USERNAME=root
MONGODB_ROOT_PASSWORD=
MONGODB_DATABASE=${API_NAME}
##MONGO EXPRESS
ME_HOST=mongo-express          
ME_PORT=8081
ME_CONFIG_BASICAUTH_USERNAME=root
ME_CONFIG_BASICAUTH_PASSWORD=
ME_CONFIG_MONGODB_SERVER=${MONGODB_HOST}
ME_CONFIG_MONGODB_SERVER_PORT=${MONGODB_PORT}


# to create a sha512 pass with salt 
# $SALT=; PASSWORD=; openssl passwd -6 -salt $SALT $PASSWORD